.property-field {
  padding: 2px 4px 2px 14px;
  font-size: 12px;
  margin-bottom: 3px;
  position: relative;

  &.inherited {
    .property-field__header {
      opacity: 0.6;
    }
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__name {
    margin-bottom: 2px;
    margin-right: auto;
  }

  .icon-float {
    position: absolute;
    display: none;
    left: -2px;
    top: 1px;
    padding: 3px;
    font-size: 10px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  &:hover .icon-float {
    display: block;
  }
}