@import "../../LoomUI";

.property-toolbar {
  border-bottom: 1px solid #ccc;

  .icon-btn {
    padding: 3px 8px;
    border-right: 1px solid #ccc;
    color: $primary-5;

    &.active {
      color: $accent;
    }
  }
}