@import "../../LoomUI";

.property-toolbar {
  border-bottom: 1px solid #ccc;

  .icon-btn {
    padding: 5px 8px;
    border-right: 1px solid #ccc;
    position: relative;

    &:hover {
      background-color: $primary-hl-0;
    }

    &.dialog {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border: 3px solid currentColor;
        border-top-color: transparent;
        border-left-color: transparent;
      }
    }

    &.toggle {
      color: $primary-7;

      &.active {
        color: $accent;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: currentColor;
          height: 2px;
        }
      }
    }
  }
}