.property-field {
  border-bottom: 1px solid #808080;
  padding: 2px;

  &.inherited {
    color: gray;
    border-color: gray;
  }

  &__name {
    margin-bottom: 2px;
  }

  &__editor {
    padding-left: 5px;
  }
}