.property-field {
  padding: 2px 4px;
  font-size: 12px;
  margin-bottom: 3px;

  &.inherited {
    color: gray;
    border-color: gray;
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__name {
    margin-bottom: 2px;
    margin-right: auto;
  }
}