@import "~@/variables";

.data-nav {
  height: 100%;
  background-color: $primary-1;
  overflow-y: auto;
  border-right: 1px solid $primary-5;
  background-color: $primary-1;
  display: flex;
  flex-flow: column nowrap;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
    height: 30px;
    background-color: $primary-1;
    border-bottom: 1px solid $primary-3;
  }

  &__content {
    flex-grow: 1;
  }

  &__location {
    padding-right: 20px;
    text-align: center;
    flex-grow: 1;
    color: $accent;
  }
}