@import "~@/variables";

.definition-nav {
  border-radius: 0 8px 0 0;
  border-right: 1px solid $primary-5;
  height: 100%;

  .tabs {
    height: 30px;
    font-size: 12px;
  }
}

.definition-nav__content {
  height: 100%;
  background-color: $primary-1;

  .namelist {
    height: 100%;
  }
}