@import "~@/variables";

.node-nav {
  padding: 5px 10px;
  border-bottom: 1px solid $primary-1;
  background-color: $primary-0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  align-items: center;
  height: 27px;
  display: flex;
  flex-flow: row nowrap;

  .icon-btn {
    display: none;
    color: currentColor;
    margin-left: auto;
    font-size: 10px;
    opacity: 0.5;

    &:hover {
      color: #FF4040;
      opacity: 1;
    }
  }

  &:hover .icon-btn {
    display: block;
  }

  &__text i      { color: #CCCCCC; }
  &__element i   { color: #60A060; }
  &__component i { color: #FFA060; }

  &__container--component .node-nav {
    background-color: #FFE8D0;
  }

  &__title {
    display: inline;
  }

  i {
    font-size: 10px;
    line-height: 10px;
    width: 20px;
    text-align: center;
  }

  &.selected {
    background-color: $accent;
    color: white;

    i {
      color: white;
    }
  }
}