@import "~@/variables";

.node-nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid $primary-1;
  background-color: $primary-0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  align-items: center;
  height: 27px;

  &__text i      { color: #CCCCCC; }
  &__element i   { color: #60A060; }
  &__component i { color: #FFA060; }

  &__container--component .node-nav {
    background-color: #FFE8D0;
  }

  & > * {
    flex-shrink: 0;
  }

  &__title {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sep {
    margin-left: auto;
  }

  .icon-btn {
    font-size: 10px;
    display: none;
  }

  i {
    font-size: 10px;
    line-height: 10px;
    width: 20px;
    text-align: center;
  }

  &:hover {
    background-color: $primary-hl-0;

    .icon-btn {
      display: inline-block;
    }
  }

  &.selected {
    background-color: $accent;
    color: white;

    i {
      color: white;
    }

    .icon-btn {
      display: inline-block;
    }
  }
}

.drop-marker {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    content: '';
    background: linear-gradient(to bottom, $accent, transparent);
    pointer-events: none;
    z-index: 1;
  }

  &:last-child:after {
    bottom: 0;
    top: auto;
    background: linear-gradient(to top, $accent, transparent);
  }
}