@import "~@/variables";

.properties-editor {
  background-color: $primary-1;
  width: 200px;
  border-left: 1px solid $primary-5;
  border-top-left-radius: 8px;
  overflow: hidden;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 30px;
    background-color: $primary-4;
  }

  &__content {
    padding: 8px 4px;

    & > * {
      margin-bottom: 5px;
    }
  }

  input, select, .multi-select {
    min-width: 0;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px;
    height: 22px;
    border-radius: 5px;
  }

  .multi-select {
    height: auto;
    min-height: 36px;
    padding: 3px;
  }

  hr {
    width: 100%;
    margin: 6px 0;
    padding: 0;
    border: 0px solid $primary-5;
    border-bottom-width: 1px;
  }
}

.property-tab {
  color: $primary-8;
  background-color: $primary-3;
  font-size: 16px;
  line-height: 16px;
  padding: 7px 0;
  border-radius: 8px 8px 0 0;
  margin-right: 1px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50%;

  &.selected {
    background-color: $primary-1;
    color: $accent;
  }

  &:last-child {
    margin-right: 0;
  }
}

.property-field {
  margin: 1px;
  display: flex;
  flex-flow: row wrap;

  & > * {
    flex-grow: 1;
    flex-basis: 100px;
    margin-bottom: 4px;
  }

  &__title {
    flex-basis: 0;
    flex-shrink: 0;
    font-size: 12px;
    margin-right: 3px;
  }

  .keyvaluelist {
    flex-basis: 100%;
  }
}