@import "~@/variables";

.properties-editor {
  background-color: $primary-1;
  width: 200px;
  border-left: 1px solid $primary-5;
  border-top-left-radius: 8px;
  display: flex;
  flex-flow: column nowrap;

  .tabs {
    height: 30px;
    background-color: $primary-4;
    font-size: 12px;
  }

  input, select, textarea {
    min-width: 0;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px;
    border-radius: 5px;
  }

  select {
    height: 20px;
  }

  textarea {
    height: 78px;
  }

  .multi-select, .color-picker, .multi-input, .combo-box {
    border-radius: 5px;
    min-width: 0;
    font-size: 12px;
    line-height: 14px;
  }

  hr {
    width: 100%;
    margin: 8px 0;
    padding: 0;
    border: 0px solid $primary-5;
    border-bottom-width: 1px;
  }
}

.properties-toolbar {
  border-bottom: 1px solid $primary-3;
  background-color: $primary-0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
  padding: 0 2px;
  height: 28px;
  margin-bottom: 3px;

  .sep {
    margin-left: auto;
  }

  .combo-box, & > input {
    flex-grow: 1;
    background: none;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-right: 3px;

    border-radius: 0 !important;
    background-color: inherit;

    &:focus, &:focus-within {
      border-top-color: transparent;
      border-bottom-color: $accent;
    }
  }

  .icon-btn {
    padding: 5px;
  }
}

.property-field {
  margin: 5px 6px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  & > * {
    flex-grow: 1;
    flex-basis: 80px;
  }

  &__title {
    flex-basis: 0;
    flex-shrink: 0;
    font-size: 12px;
    white-space: nowrap;
    margin-right: 8px;
    line-height: 14px;
    padding: 4px 0;

    .can-delete {
      cursor: pointer;

      &:hover {
        text-decoration: line-through;
      }
    }
  }

  .keyvaluelist {
    flex-basis: 100%;
  }

  .help-icon {
    font-size: 8px;
    margin-left: 5px;
  }
}