@import "~@/variables";

.combo-box {
  position: relative;
  width: 100%;
  line-height: 0;
  z-index: 0;
  background-color: $primary-0;
  border: 1px solid $primary-5;

  &:focus-within {
    border-color: $accent;
    z-index: 1;
  }

  &.disabled {
    pointer-events: none;
    background-color: $primary-1;
    color: $primary-8;
  }

  input, input:disabled {
    position: absolute;
    top: 0;
    left: 1px;
    width: calc(100% - 15px);
    height: 100%;
    z-index: 1;
    background-color: inherit;
    border: none;
  }

  select {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background: none;

    &:focus {
      outline: none;
    }
  }
}