.multi-input {
  display: flex;
  flex-flow: row nowrap;

  input, select, .color-picker, .combo-box {
    &:not(:last-child) {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    &:not(:first-child) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      margin-left: -1px;
    }
  }

  & > .color-picker {
    flex-shrink: 0;
  }
}