@import "~@/variables";

.multi-select {
  background-color: $primary-0;
  border: 1px solid $primary-5;
  cursor: text;
  white-space: pre-wrap;
  min-height: calc(2em + 26px);
  padding: 2px;

  &:focus-within {
    border-color: $accent;
  }

  &__values {
    display: inline;
  }

  &__value {
    position: relative;
    display: inline-block;
    background-color: $primary-2;
    border-radius: 9px;
    padding: 2px 6px;
    padding-right: 20px;
    margin: 2px;
    cursor: default;

    .icon-btn {
      position: absolute;
      top: 2px;
      right: 6px;
      padding: 0;
    }
  }

  &__input {
    display: inline-block;
    outline: none !important;
    width: auto !important;
    line-height: 1em !important;
    height: calc(1em + 8px) !important;
    border: none !important;
    background: none !important;
    padding: 0 4px !important;
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    border-color: $accent;
  }
}