@import "~@/variables";

.tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 30px;
  background-color: $primary-4;
}

.tab {
  color: $primary-8;
  background-color: $primary-3;
  padding: 7px 10px;
  border-radius: 8px 8px 0 0;
  margin-right: 1px;
  flex-grow: 1;
  max-width: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &.selected {
    background-color: $primary-1;
    color: $accent;
  }

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: none;

    .tab__title {
      text-decoration: underline;
    }
  }

  &__title {
    margin-right: auto;
  }
}