@import "~@/variables";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: $primary-0;
  color: $text;
  font-family: system-ui;
  font-size: 14px;
  user-select: none;
}

input, textarea, select {
  border: 1px solid $primary-5;

  &:focus {
    outline: none;
    border-color: $accent;
  }

  &:disabled {
    background-color: $primary-1;
  }
}

#app {
  width: 100%;
  height: 100%;
  background-color: $primary-4;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: stretch;
}