$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

$primary-0: #ffffff;
$primary-1: #f5f5f5;
$primary-2: #ebebeb;
$primary-3: #e0e0e0;
$primary-4: #d6d6d6;
$primary-5: #cccccc;

$primary-hl-0: #d8d8ff;
$primary-hl-1: #cfcff5;
$primary-hl-2: #c7c7eb;
$primary-hl-3: #bebee0;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: $primary-0;
  color: #404040;
  font-family: arial;
  font-size: 14px;
}

#app {
  width: 100%;
  height: 100%;
}

.loom-ui {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.center {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.Resizer {
  z-index: 1;
  padding: 1px;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}