@import "~@/variables";

.wysiwyg-editor {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 0;
  resize: both;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border: 7px solid $primary-8;
    border-top-color: transparent;
    border-left-color: transparent;
    cursor: nwse-resize;
  }

  &::-webkit-resizer {
    visibility: hidden;
  }

  &__container {
    flex-grow: 1;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100%;
    background-color: white;
  }
}