@import "~@/variables";

.properties-editor {
  background-color: $primary-1;
  width: 200px;
  border-left: 1px solid $primary-5;
  border-top-left-radius: 8px;
  overflow: hidden;

  .tabs {
    height: 30px;
    background-color: $primary-4;
    font-size: 12px;
  }

  &__content {
    padding: 6px 4px;

    & > * {
      margin-bottom: 5px;
    }
  }

  input, select, textarea {
    min-width: 0;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 6px;
    border-radius: 5px;
  }

  select {
    height: 22px;
  }

  textarea {
    height: 78px;
  }

  .multi-select, .color-picker, .multi-input {
    border-radius: 5px;
    min-width: 0;
    font-size: 12px;
    line-height: 14px;
  }

  hr {
    width: 100%;
    margin: 6px 0;
    padding: 0;
    border: 0px solid $primary-5;
    border-bottom-width: 1px;
  }
}

.property-field {
  margin: 3px;
  display: flex;
  flex-flow: row wrap;
  align-items: first-baseline;

  & > * {
    flex-grow: 1;
    flex-basis: 100px;
  }

  &__title {
    flex-basis: 0;
    flex-shrink: 0;
    font-size: 12px;
    white-space: nowrap;
    margin-right: 8px;
    line-height: 14px;
    padding: 3px 0;
  }

  .keyvaluelist {
    flex-basis: 100%;
  }
}