.object-editor {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;

  &__key {
    display: inline-block;

    &.inherited {
      color: gray;
    }
  }
}

.object-id, .parent-id {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.parent-id {
  font-weight: bold;
}