@import "~@/variables";

.navigator {
  width: 200px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: $primary-1;
  border-right: 1px solid $primary-5;
  flex-shrink: 0;
}