@import "../LoomUI";

.keyvaluelist {
  overflow: hidden;
  padding: 1px 0 0 1px;

  &__header {
    display: flex;
    flex-flow: row nowrap;
  }

  &__content {
    margin-top: 2px;
    max-height: 100px;
    overflow-y: auto;
  }

  .icon-btn.disabled {
    visibility: hidden;
  }

  &__row {
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    &.selected {
      background-color: $accent;
      color: white;
    }

    input {
      border: 1px solid $primary-2;
      background-color: $primary-0;
      color: inherit;
      padding: 2px 5px;
      width: 0;
      flex-basis: 0;
      flex-grow: 1;

      &:focus {
        outline: none;
        border-color: $accent;
        z-index: 1;
      }

      &.disabled {
        background-color: $primary-2;
        pointer-events: none;

        &::placeholder {
          color: $primary-5;
        }
      }
    }
  }
}